<div class="sidebar h-100">
    <div class="sidebar-heading">
        Dolce Home
    </div>
    <hr class="sidebar-divider my-0">
    <div class="list-group list-group-flush">
        <a href="#" class="nav-link"><i class="fas fa-home active"></i> Home</a>
        <hr class="sidebar-divider my-0">
        <a href="pedido.html" class="nav-link"><i class="fas fa-plus"></i> Cadastrar pedido</a>
        <hr class="sidebar-divider my-0">
        <a href="produto.html" class="nav-link"><i class="fas fa-plus"></i> Cadastrar produto</a>
        <hr class="sidebar-divider my-0">
    </div>
</div>