<div class="container-fluid">
    <h1 class="h3 mb-2">Cadastrar novo produto</h1>

    <div class="cadastrar-pedido mb-5">
        <form>
            <label>Produto</label><br>
            <input type="text"><br>

            <label>Imagem</label><br>
            <input type="file"><br>

            <label>Observação</label><br>
            <input type="text"><br>

            <label>Unidade</label><br>
            <input type="text"><br>

            <label>Quantidade</label><br>
            <input type="number"><br>

            <label>Preço</label><br>
            <input type="number"><br>

            <label>Desconto item</label><br>
            <input type="number"><br>

            <label>Total</label><br>
            <input type="text"><br>

            <button class="btn-salvar">Salvar item</button>
        </form>
    </div>
</div>