<div class="container-fluid">
    <h1 class="h3 mb-2">Cadastrar novo pedido</h1>

    <div class="cadastrar-pedido">
        <form>
            <div class="row">
                <div class="col-md-6">

                    <label>Nro. Pedido:</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" [value]="idPedido" readonly placeholder="Inserido automaticamente...">
                    </div>

                    <label>Cliente:</label>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" [value]="razaoCliente" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" (click)="openModal(cliente)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <label>Transportador:</label>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" [value]="razaoTransportadora" readonly>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" (click)="openModal(transportadora)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <label>Cond. de pagamento:</label>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" [value]="descricaoCondicaoPagamento" readonly>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" (click)="openModal(condpagto)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <label>Vendedor:</label>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" readonly>
                    </div>

                    <label>Tabela:</label>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" [value]="descricaoTabela" readonly>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" (click)="openModal(tabela)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <label>Observações: *</label>
                    <div class="input-group mb-3">
                        <textarea class="form-control" [formControl]="observacoes" type="text"></textarea>
                    </div>

                </div>

                <div class="col-md-6">
                    <label>Desconto geral:</label>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" [value]="descricaoDesconto" readonly>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" (click)="openModal(desconto)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <label>N da O.C.:</label>
                    <div class="input-group mb-3">
                        <input type="text" [formControl]="numeroOC">
                    </div>

                    <label>Entrega:</label>
                    <div class="input-group mb-3">
                        <input type="text" [formControl]="dataEntrega" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD', containerClass:'theme-dark-blue' }">
                    </div>

                    <label>Data base Vencimento:</label>
                    <div class="input-group mb-3">
                        <input type="text" [formControl]="dataBaseVencimento" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD', containerClass:'theme-dark-blue' }">
                    </div>

                    <label>Valor Frete:</label>
                    <div class="input-group mb-3">
                        <input type="number" [formControl]="valorFrete">
                    </div>

                    <label>Valor Desconto:</label>
                    <div class="input-group mb-3">
                        <input type="number" [formControl]="valorDesconto">
                    </div>

                    <label>Valor total:</label>
                    <div class="input-group mb-3">
                        <input type="number" [formControl]="valorTotal">
                    </div>
                </div>
            </div>
            <button class="btn-salvar" (click)="salvarPedido()"><i class="far fa-save fa-lg"></i></button>
        </form>
    </div>

    <ng-container *ngIf="idPedido != null">
        
        <h1 class="h3 mb-2 mt-5">Tabela pedido</h1>

        <form>
            <div class="input-group mb-3">
                <button type="button" class="btn btn-primary" (click)="openModal(produto)">
                    Adicionar itens ao pedido <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        <div class="row mb-5" *ngIf="listaItensPedido.length < 1">
            <p>Não há itens cadastrados para este pedido.</p>
        </div>
        <div class="tabela mb-5" *ngIf="listaItensPedido.length > 0">
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Total</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaItensPedido">
                            <td>{{item.produto + ' - ' + item.descricao}}</td>
                            <td>{{item.quant}}</td>
                            <td>{{item.preco}}</td>
                            <td>{{item.totalitem}}</td>
                            <td>
                                <button class="btn-deletar" (click)="apagarItemPedido(item.produto)"><i class="far fa-trash-alt fa-md"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </ng-container>

</div>

<ng-template #cliente>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Buscar Cliente</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="input-group">
                    <input class="form-control" type="text" [formControl]="buscaCliente"
                    placeholder="Digite o documento do cliente..." (keyup.enter)="buscarDocumentoCliente()">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" (click)="buscarDocumentoCliente()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="listaClientes.length > 0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>CGC</th>
                            <th>Razão</th>
                            <th>Fantasia</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of listaClientes" (click)="selecionarCliente(cliente); modalRef.hide();">
                                <td>{{cliente.cgc}}</td>
                                <td>{{cliente.razao}}</td>
                                <td>{{cliente.fantasia}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #transportadora>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Buscar Transportadora</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="input-group">
                    <input class="form-control" type="text" [formControl]="buscaTransportadora"
                    placeholder="Digite o documento do transportador..."
                    (keyup.enter)="buscarDocumentoTransportadora()">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" (click)="buscarDocumentoTransportadora()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="listaTransportadoras.length > 0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>CGC</th>
                            <th>Razão</th>
                            <th>Fantasia</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transportadora of listaTransportadoras" (click)="selecionarTransportadora(transportadora); modalRef.hide();">
                                <td>{{transportadora.cgc}}</td>
                                <td>{{transportadora.razao}}</td>
                                <td>{{transportadora.fantasia}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #condpagto>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Buscar Condição de Pagamento</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="input-group">
                    <input class="form-control" type="text" [formControl]="buscaCondPagto"
                    placeholder="Digite a descrição da condição de pagamento..."
                    (keyup.enter)="buscarCondicaoPagamento()">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" (click)="buscarCondicaoPagamento()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="listaCondPagto.length > 0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Código</th>
                            <th>Descrição</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cond of listaCondPagto" (click)="selecionarCondPagto(cond); modalRef.hide();">
                                <td>{{cond.codigo}}</td>
                                <td>{{cond.descricao}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #desconto>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Buscar Desconto</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="input-group">
                    <input class="form-control" type="text" [formControl]="buscaDesconto"
                    placeholder="Digite a descrição do desconto..." (keyup.enter)="buscarDesconto()">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" (click)="buscarDesconto()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="listaDesconto.length > 0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Código</th>
                            <th>Descrição</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let desconto of listaDesconto" (click)="selecionarDesconto(desconto); modalRef.hide();">
                                <td>{{desconto.codigo_desconto}}</td>
                                <td>{{desconto.descricao_desconto}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #tabela>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Buscar Tabela</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="input-group">
                    <input class="form-control" type="text" [formControl]="buscaTabela"
                    placeholder="Digite o código da Tabela..." (keyup.enter)="buscarTabelaPreco()">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" (click)="buscarTabelaPreco()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="listaTabela.length > 0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Código</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tabela of listaTabela">
                                <td (click)="selecionarTabela(tabela); modalRef.hide()">{{tabela.id}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #produto>
    <div class="modal-lg">

        <div class="modal-header">
            <h4 class="modal-title pull-left">Buscar Produto</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="input-group">
                        <input class="form-control" type="text" [formControl]="buscaProduto"
                        placeholder="Digite o código do produto..." (keyup.enter)="buscarProduto()">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" (click)="buscarProduto()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" *ngIf="listaProdutos.length > 0">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <th></th>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Qtd.</th>
                                <th>Ações</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let produto of listaProdutos">
                                    <td><img [src]=produto.url width="35"></td>
                                    <td>{{produto.produto}}</td>
                                    <td>{{produto.descricao}}</td>
                                    <td>R$ {{produto.preco}}</td>
                                    <td><input class="form-control input-table col-md-2" [id]="produto.produto" type="number" placeholder="0" min="1">
                                    </td>
                                    <td>
                                        <button class="btn btn-success" (click)="salvarItemPedido(produto.produto); modalRef.hide();"><i class="far fa-save fa-sm"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>