<div class="container-fluid">
    <h1 class="h3 mb-2">Listagem de pedidos</h1>

    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">CPF/CPNJ</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data Emissão</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedido of listaPedidos">
                        <th>{{pedido.pedido}}</th>
                        <td>{{pedido.cgc}}</td>
                        <td>{{pedido.status}}</td>
                        <td>{{pedido.dataemis_aprovacao}}</td>
                        <td>
                            <button class="btn btn-secondary" (click)="imprimirPedido(pedido.pedido)"><i class="far fa-clipboard fa-sm"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
