<div class="container-fluid">
    <h1 class="h3 mb-2">Cadastrar novo pedido</h1>

    <div class="cadastrar-pedido">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <label>Nro. Pedido</label><br>
                    <input type="number"><br>

                    <label>Cliente</label><br>
                    <input type="number"><br>
                    <input class="disabled" type="text" value="DOLCE HOME COMERCIO DE UTILIDADES DOMESTICAS LTDA."
                        disabled><br>

                    <label>Transportador</label><br>
                    <input type="number"><br>
                    <input class="disabled" type="text" value="TRUCK TRANSP RODOVIARIO" disabled><br>

                    <label>Cond. de pagamento</label><br>
                    <input type="number"><br>
                    <input class="disabled" type="text" value="28 DIAS" disabled><br>

                    <label>Vendedor</label><br>
                    <input type="number"><br>

                    <label>Tabela</label><br>
                    <input type="number"><br>

                    <label>Observações</label><br>
                    <input type="text"><br>
                </div>

                <div class="col-md-6">
                    <label>Desconto geral</label><br>
                    <input type="number"><br>

                    <label>N da O.C.</label><br>
                    <input type="number"><br>

                    <label>Entrega</label><br>
                    <input type="number"><br>

                    <label>Data base Venc.</label><br>
                    <input type="number"><br>

                    <label>Valor Frete</label><br>
                    <input type="number"><br>

                    <label>Valor Desc</label><br>
                    <input type="number"><br>

                    <label>Valor total</label><br>
                    <input type="number"><br>
                </div>
            </div>
            <button class="btn-salvar">Salvar pedido</button>
        </form>
    </div>

    <h1 class="h3 mb-2 mt-5">Tabela pedido</h1>

    <div class="tabela mb-5">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Desconto</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>91 - DO459: Forma de mini bolo de Silicione. Cont m 6 moldes. Medida 29.6 5cm. Resist
                        ncia -40c a 220c. Valdiade indeterminada</th>
                    <td>PECA - PECA</td>
                    <td>1,00</td>
                    <td>4,55</td>
                    <td></td>
                    <td>4,50</td>
                </tr>
                <tr>
                    <th>92 - DO459: Forma de mini bolo de Silicione. Cont m 6 moldes. Medida 29.6 5cm. Resist
                        ncia -40c a 220c. Valdiade indeterminada</th>
                    <td>PECA - PECA</td>
                    <td>1,00</td>
                    <td>4,55</td>
                    <td></td>
                    <td>4,50</td>
                </tr>
                <tr>
                    <th>93 - DO459: Forma de mini bolo de Silicione. Cont m 6 moldes. Medida 29.6 5cm. Resist
                        ncia -40c a 220c. Valdiade indeterminada</th>
                    <td>PECA - PECA</td>
                    <td>1,00</td>
                    <td>4,55</td>
                    <td></td>
                    <td>4,50</td>
                </tr>
            </tbody>
        </table>

        <button class="btn-salvar">Salvar itens do pedido</button>
    </div>
</div>